.header-c-style{
    margin-top: 2px;
    padding: 0.1rem 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.footer-c-style{
    padding: 1rem 0 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.btn-market{
    min-width: 8%;
}

.btn-search{
    min-width: 8%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 18px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    /*font-size: 24px; !* Increase font size *!*/
    width: auto;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.fa-angle-double-up{
    font-size: xx-large !important;
}

/* Hide the default dropdown arrow */
.no-arrow {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent; /* Removes any background that may show the arrow */
    position: relative; /* Create a position context */
    padding-right: 1.5em; /* Adjust the padding to make room for custom icon if necessary */
}

/* Extra to handle browser-specific styling for disabled select */
.no-arrow:disabled {
    background-color: #e9ecef; /* Same background color as disabled input */
    border: 1px solid #ced4da; /* Same border as disabled input */
    color: #6c757d; /* Text color for disabled input */
}

/* Ensure to remove arrow for different browsers */
.no-arrow::-ms-expand {
    display: none; /* For IE10+ */
}

@media screen and (min-width: 1400px) {
    .market-width{
        max-width: 1800px;
    }
}

@media screen and (min-width: 1536px) {
    .overview-width {
        max-width: 1280px;
    }

    .image-c-height{
        max-height: 80%;
        width: auto;
    }

}
