.header-c-style{
    margin-top: 2px;
    padding: 0.1rem 0;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.footer-c-style{
    padding: 1rem 0 !important;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.btn-market{
    min-width: 8%;
}

.btn-search{
    min-width: 8%;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 70px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: red; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px 18px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    /*font-size: 24px; !* Increase font size *!*/
    width: auto;
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

.fa-angle-double-up{
    font-size: xx-large !important;
}

@media screen and (min-width: 1400px) {
    .market-width{
        max-width: 1800px;
    }
}

@media screen and (min-width: 1536px) {
    .overview-width {
        max-width: 1280px;
    }
}
